//
   Created by Nicole J. Nobles on 11/22/2016.

#header
   nav
      .nav-left
         button
            i.material-icons menu
      .nav-right
         button
            i.material-icons search
         button
            i.material-icons lock_outline