# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/

# MEAN.js app and assets
# ======================
public/dist/
uploads
modules/users/client/img/profile/uploads
config/env/local.js
config/env/local-*.js
*.pem

# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Local development
#==================
*.env
*.dev
.DS_Store
.idea

# Docker
#=======
Dockerfile
docker-compose.yml

# IntelliJ
# ========
*.iml

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace
