@import "variables.scss";

#header {
  position: fixed;
  width: 100%;
  padding: 55px 60px 0;
  z-index: 99;

  .nav-left, .nav-right {
    display: inline;
    button { line-height: 30px; }
  }
  .nav-right {
    float: right;
    button { margin-right: 15px; }
  }

  .btn-toggle-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    .icon, .text {
      display: inline-block;
      vertical-align: middle;
    }

    .text {
      margin-left: .85em;
      font-size: 1.4em;
      font-weight: 700;
      letter-spacing: .05em;
      text-transform: uppercase;
      color: $primary;
    }

    .line {
      background-color: $primary;
      height: 3px;
      width: 45px;
      margin-bottom: 7px;
      transition: all $shortTransitionTime ease-in-out;
    }
    .line-center {
      position: relative;
      margin-left: -15px;
      transition: all $shortTransitionTime ease-in-out;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        transition: all $shortTransitionTime ease-in-out;
        z-index: 999;
      }
    }

    &:hover {
      .line { margin-left: -5px; }
    }
  }//btn-toggle-menu
  .btn-toggle-menu.open {
    .icon {
      .line-center{
        margin-left: -15px;
        transform: rotate(45deg);
        height: 3px;
        width: 45px;

        &::after { transform: rotate(-90deg); }
      }
      .line-outer { display: none; }
    }

    &.btn-toggle-menu .text { display: none; }
  }//-menu-open

  .btn-toggle-search {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;

    .circle {
      position: relative;
      background-color: transparent;
      height: 24px;
      width: 24px;
      border: 3.5px solid $primary;
      border-radius: 100%;
      transition: all $shortTransitionTime ease-in-out;
      z-index: 1;
    }

    .handle {
      display: block;
      position: absolute;
      background-color: $primary;
      top: 1.5px;
      right: 7px;
      height: 36px;
      width: 3.5px;
      transform: rotate(-45deg);
      &:after {
        content: '';
        display: block;
        background-color: $primary;
        height: 36px;
        width: 3.5px;
        transition: all $shortTransitionTime ease-in-out;
      }
    }
  }//btn-toggle-search
  .btn-toggle-search.open {
    .circle {
      transform: scale(.03);
      background: $primary;
      border-color: $primary;
    }
    .handle:after {
      transform-origin: center;
      transform: rotate(90deg);
    }
  }//-search-open

  .btn-toggle-signin {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    .text {
      font-size: 1.4em;
      font-weight: 700;
      letter-spacing: .05em;
      text-transform: uppercase;
      color: $primary;
      &:after { content: 'Sign In'; }
    }

  }//btn-toggle-signin
  .btn-toggle-signin.open {
    .text {
      font-size: 1.4em;
      font-weight: 700;
      letter-spacing: .05em;
      text-transform: uppercase;
      color: $primary;

      &:after { content: 'Cancel'; }
    }
  }//-signIn-open
}//#header

// overlay .open
.overlay {
  &.open {
    display: block;
    .nav-toggle-menu.open { display: block; }
    .search-toggle-menu.open { display: block; }
    .signin-signup-menu.open { display: block; }
  }
}//.open

.overlay {
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  border: 15px solid $black;
  display: none;
  background-color: $blue;
  z-index: 9;
  overflow-x: hidden;
  transition: all $shortTransitionTime ease-in-out;
}

.nav-toggle-menu {
  display: none;
  position: relative;
  text-align: center;
  top: 50%;
  i { font-size: 1.5em; }
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}//.nav-toggle-menu

.search-toggle-menu {
  display: none;
  position: relative;
  text-align: center;
  top: 50%;

  input {
    font-size: 3.5em;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid $white;
  }
  button {
    font-size: 2.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: $white;
  }
}//.search-toggle-menu

.signin-signup-menu {
  display: none;
  position: relative;
  text-align: center;
  top: 17%;
  padding: 0;
  background-color: $white;
  box-shadow: 0 30px 125px -5px #000;

  .txt-input { width: 80%; }

  .bg-gif {
    position: relative;
    width: 100%;
    height: 220px;
    background: url('https://media.giphy.com/media/CBISaDGmXdmBG/giphy.gif')no-repeat center center;
    background-size: cover;
  }

  ul {
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  .auth-form {
    padding: 10% 10% 0;
  }
}//.signIn-signup-menu