@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
#header {
  position: fixed;
  width: 100%;
  padding: 55px 60px 0;
  z-index: 99; }
  #header .nav-left, #header .nav-right {
    display: inline; }
    #header .nav-left button, #header .nav-right button {
      line-height: 30px; }
  #header .nav-right {
    float: right; }
    #header .nav-right button {
      margin-right: 15px; }
  #header .btn-toggle-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none; }
    #header .btn-toggle-menu .icon, #header .btn-toggle-menu .text {
      display: inline-block;
      vertical-align: middle; }
    #header .btn-toggle-menu .text {
      margin-left: .85em;
      font-size: 1.4em;
      font-weight: 700;
      letter-spacing: .05em;
      text-transform: uppercase;
      color: #6F694E; }
    #header .btn-toggle-menu .line {
      background-color: #6F694E;
      height: 3px;
      width: 45px;
      margin-bottom: 7px;
      transition: all 500ms ease-in-out; }
    #header .btn-toggle-menu .line-center {
      position: relative;
      margin-left: -15px;
      transition: all 500ms ease-in-out; }
      #header .btn-toggle-menu .line-center:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6F694E;
        transition: all 500ms ease-in-out;
        z-index: 999; }
    #header .btn-toggle-menu:hover .line {
      margin-left: -5px; }
  #header .btn-toggle-menu.open .icon .line-center {
    margin-left: -15px;
    transform: rotate(45deg);
    height: 3px;
    width: 45px; }
    #header .btn-toggle-menu.open .icon .line-center::after {
      transform: rotate(-90deg); }
  #header .btn-toggle-menu.open .icon .line-outer {
    display: none; }
  #header .btn-toggle-menu.open.btn-toggle-menu .text {
    display: none; }
  #header .btn-toggle-search {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative; }
    #header .btn-toggle-search .circle {
      position: relative;
      background-color: transparent;
      height: 24px;
      width: 24px;
      border: 3.5px solid #6F694E;
      border-radius: 100%;
      transition: all 500ms ease-in-out;
      z-index: 1; }
    #header .btn-toggle-search .handle {
      display: block;
      position: absolute;
      background-color: transparent;
      top: 1.5px;
      right: 7px;
      height: 36px;
      width: 3.5px;
      transform: rotate(-45deg); }
      #header .btn-toggle-search .handle:after {
        content: '';
        display: block;
        background: linear-gradient(to bottom, rgba(111, 105, 78, 0) 0%, rgba(111, 105, 78, 0) 25%, rgba(111, 105, 78, 0) 50%, #6f694e 50%);
        height: 36px;
        width: 3.5px;
        transition: all 500ms ease-in-out; }
  #header .btn-toggle-search.open .circle {
    transform: scale(0.03);
    background: #6F694E;
    border-color: #6F694E; }
  #header .btn-toggle-search.open .handle {
    background-color: #6F694E;
    transition: all 500ms ease-in-out; }
    #header .btn-toggle-search.open .handle:after {
      background-color: #6F694E;
      transform-origin: center;
      transform: rotate(90deg); }
  #header .btn-toggle-signin {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none; }
    #header .btn-toggle-signin .text {
      font-size: 1.4em;
      font-weight: 700;
      letter-spacing: .05em;
      text-transform: uppercase;
      color: #6F694E; }
      #header .btn-toggle-signin .text:after {
        content: 'Sign In'; }
  #header .btn-toggle-signin.open .text {
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #6F694E; }
    #header .btn-toggle-signin.open .text:after {
      content: 'Cancel'; }

.overlay.open {
  display: block; }
  .overlay.open .nav-toggle-menu.open {
    display: block; }
  .overlay.open .search-toggle-menu.open {
    display: block; }
  .overlay.open .signin-signup-menu.open {
    display: block; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 15px solid #000;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  overflow-x: hidden;
  transition: all 500ms ease-in-out; }

.nav-toggle-menu {
  display: none;
  position: relative;
  text-align: center;
  top: 50%;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em; }
  .nav-toggle-menu i {
    font-size: 1.5em; }

.search-toggle-menu {
  display: none;
  position: relative;
  text-align: center;
  top: 50%; }
  .search-toggle-menu input {
    font-size: 3.5em;
    background: transparent;
    border: none;
    outline: none;
    color: #036564;
    border-bottom: 1px solid #6F694E; }
  .search-toggle-menu button {
    font-size: 2.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #036564; }

.signin-signup-menu {
  display: none;
  position: relative;
  text-align: center;
  top: 17%;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 30px 125px -5px #000; }
  .signin-signup-menu .txt-input {
    width: 80%; }
  .signin-signup-menu .bg-gif {
    position: relative;
    width: 100%;
    height: 220px;
    background: url("https://media.giphy.com/media/CBISaDGmXdmBG/giphy.gif") no-repeat center center;
    background-size: cover; }
  .signin-signup-menu ul {
    bottom: 0;
    position: absolute;
    z-index: 1; }
  .signin-signup-menu .auth-form {
    padding: 10% 10% 0; }

#footer {
  width: 100%;
  background-color: #3c373e; }
  #footer select {
    margin-top: 1.5em;
    border: 2px solid #6F694E;
    padding: 0.5em; }
  #footer small {
    color: #6F694E; }
  #footer h3 {
    margin: 8% 0; }
  #footer .recent-post img {
    float: left;
    margin-right: 15px;
    max-width: 48px;
    max-height: 48px; }
  #footer .recent-post li {
    margin-bottom: 12px; }
  #footer .app-banners {
    float: right;
    width: 135px; }
    #footer .app-banners li, #footer .app-banners a {
      padding: 12px;
      cursor: pointer; }
    #footer .app-banners .ios_app {
      background: url("https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg") no-repeat;
      background-size: 135px 40px; }
    #footer .app-banners .android {
      background: url("https://play.google.com/intl/en_us/badges/images/badge_new.png") no-repeat;
      background-size: 135px 40px; }
  #footer .line {
    border-bottom: 1px solid #036564; }
  #footer .social {
    padding: 0 7%; }
    #footer .social h2, #footer .social ul {
      display: inline-block; }
    #footer .social ul {
      float: right; }
    #footer .social h2 {
      text-transform: uppercase; }
    #footer .social .icon-list {
      font-size: 1.5em; }
      #footer .social .icon-list li {
        display: inline-block;
        margin: 0.83em .2em; }
      #footer .social .icon-list a:hover .fa-facebook {
        color: #3b5998; }
      #footer .social .icon-list a:hover .fa-twitter {
        color: #00aced; }
      #footer .social .icon-list a:hover .fa-pinterest {
        color: #cb2027; }
      #footer .social .icon-list a:hover .fa-instagram {
        color: #bc2a8d; }
      #footer .social .icon-list a:hover .fa-linkedin {
        color: #007bb6; }
      #footer .social .icon-list a:hover .fa-youtube {
        color: #bb0000; }
  #footer .dev-info {
    text-align: center;
    font-weight: 300; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #6F694E; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #036564;
  text-decoration: none !important; }
  a:hover {
    color: #514d39; }

.txt-input, .txt-btn {
  padding: 1em 3em; }

.txt-input:focus {
  outline: none;
  color: #036564;
  border: 1px solid #6F694E;
  box-shadow: 0 0 2px #6F694E; }

.txt-btn {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .07em;
  border: 2px solid #6F694E;
  background-color: transparent;
  color: #036564; }
  .txt-btn:hover {
    background-color: #6F694E;
    transition: all 800ms ease-in-out; }

.primary {
  color: #6F694E; }

.secondary {
  color: #036564; }

.content {
  text-align: center;
  color: #6F694E; }
  .content h1, .content p {
    margin: 0; }
  .content h1 {
    font-size: 4em; }
  .content p {
    font-weight: 300;
    font-size: 1.4em; }

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

#intro-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://cdn.wallpapersafari.com/76/4/HXN13o.png") no-repeat center center;
  background-size: cover; }
  #intro-section p {
    color: #036564; }

#foodie-section {
  background: url(http://colegiosanagustinsm.16mb.com/fondo%20noticia%204.jpg) no-repeat center center; }
  #foodie-section img {
    margin-top: 20%; }
  #foodie-section .text {
    text-align: left; }

#feature-section {
  background: url("http://www.phoclab.com/wp/wp-content/uploads/2016/09/IMGP6775-Autumn-at-DaigoJi.jpg") no-repeat center center;
  background-size: cover;
  background-position: 50% 50%; }
  #feature-section .feature-overlay {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    transition: all 800ms ease-in-out; }
    #feature-section .feature-overlay:hover {
      background: transparent;
      mix-blend-mode: normal; }
      #feature-section .feature-overlay:hover .text, #feature-section .feature-overlay:hover #top, #feature-section .feature-overlay:hover #bottom, #feature-section .feature-overlay:hover #left, #feature-section .feature-overlay:hover #right {
        color: #fff;
        border-color: #fff; }
        #feature-section .feature-overlay:hover .text a, #feature-section .feature-overlay:hover #top a, #feature-section .feature-overlay:hover #bottom a, #feature-section .feature-overlay:hover #left a, #feature-section .feature-overlay:hover #right a {
          color: #fff;
          text-decoration: none; }
          #feature-section .feature-overlay:hover .text a:hover, #feature-section .feature-overlay:hover #top a:hover, #feature-section .feature-overlay:hover #bottom a:hover, #feature-section .feature-overlay:hover #left a:hover, #feature-section .feature-overlay:hover #right a:hover {
            color: #00ccff; }
  #feature-section #top, #feature-section #right, #feature-section #bottom, #feature-section #left {
    position: absolute; }
  #feature-section #left, #feature-section #right {
    top: 0%;
    bottom: 0%;
    border: 1em solid #000; }
  #feature-section #left {
    left: 0%; }
  #feature-section #right {
    right: 0%; }
  #feature-section #top, #feature-section #bottom {
    left: 0%;
    right: 0%;
    border: 1em solid #000; }
  #feature-section #top {
    top: 0; }
  #feature-section #bottom {
    bottom: 0; }
  #feature-section .frame {
    margin: 2.5em; }
  #feature-section .text {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    #feature-section .text h1 {
      font-size: 12vw;
      font-weight: 900;
      text-transform: uppercase;
      text-shadow: 8px 8px 20px #000;
      transition: all 800ms ease; }
    #feature-section .text h5 a {
      font-size: 2em; }

#spotlight-section .content {
  width: 100%;
  overflow: hidden; }
#spotlight-section ul {
  padding: 0;
  margin: 0; }
#spotlight-section .reveal {
  display: none; }
#spotlight-section .wrapper {
  display: flex;
  justify-content: space-between; }
  #spotlight-section .wrapper li {
    padding: 0;
    text-align: center;
    width: 25%;
    height: 100vh;
    cursor: pointer;
    flex-grow: 1;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
    #spotlight-section .wrapper li h3 {
      font-size: 5vw;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.8;
      line-height: 75vh; }
    #spotlight-section .wrapper li p {
      font-size: 2em;
      font-weight: 300;
      color: #fff; }
    #spotlight-section .wrapper li.current-season {
      box-shadow: inset 0 0 16px #036564;
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    #spotlight-section .wrapper li:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      transition: all 800ms ease-in-out;
      transform: scale(1.1); }
    #spotlight-section .wrapper li.active {
      width: 40%; }
  #spotlight-section .wrapper .winter {
    background: url("https://livejapan.com/public/article/detail/a/00/00/a0000283/free_html/h010026_010.jpg") no-repeat center center;
    background-size: cover; }
  #spotlight-section .wrapper .spring {
    background: url("https://livejapan.com/public/article/detail/a/00/00/a0000283/free_html/h010026_004.jpg") no-repeat center center;
    background-size: cover; }
  #spotlight-section .wrapper .summer {
    background: url("https://livejapan.com/public/article/detail/a/00/00/a0000283/free_html/h010026_007.jpg") no-repeat center center;
    background-size: cover; }
  #spotlight-section .wrapper .autumn {
    background: url("https://livejapan.com/public/article/detail/a/00/00/a0000283/free_html/h010026_008.jpg") no-repeat center center;
    background-size: cover; }

#community-section {
  background-color: #3c373e; }
  #community-section .text {
    margin: 8% 0;
    text-align: left; }
    #community-section .text hr {
      width: 20%;
      border-color: #036564; }
    #community-section .text .sub {
      text-align: right;
      color: #036564; }
  #community-section .grid .figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
  #community-section .grid img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px 0; }
  #community-section .grid .hoverlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%; }
    #community-section .grid .hoverlay .caption {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      #community-section .grid .hoverlay .caption h2, #community-section .grid .hoverlay .caption p {
        opacity: 0; }
    #community-section .grid .hoverlay:hover {
      background-color: #fff;
      opacity: 0.8;
      transition: all 800ms ease-in-out; }
      #community-section .grid .hoverlay:hover h2, #community-section .grid .hoverlay:hover p {
        opacity: 1;
        transition: all 800ms ease-in-out; }

#contact {
  background-color: #fdfdfe; }
  #contact .contact-info {
    margin-bottom: 50px; }
    #contact .contact-info h1 {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 6rem; }
    #contact .contact-info hr {
      border-color: #036564;
      width: 20%; }
  #contact .subscribe-form p {
    font-weight: 700;
    letter-spacing: .07em; }
  #contact .subscribe-form input {
    margin: 0 4px 4px 0; }

.play-btn {
  position: fixed;
  top: 45%;
  right: 0%; }

.chat-btn {
  position: fixed;
  left: 3%;
  bottom: 3%;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none; }
  .chat-btn i {
    font-size: 2em;
    color: #036564; }

.scroll-down i {
  font-size: 3em;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite; }
  .scroll-down i:hover {
    color: #036564; }

.error-page {
  background: url("http://i.imgur.com/C5X6bis.gif") no-repeat center center;
  background-size: cover; }
  .error-page h1 {
    font-weight: 900;
    font-size: 12em;
    opacity: 0.7;
    color: #fff; }
  .error-page h2 {
    font-weight: 700;
    font-size: 2em;
    opacity: 0.8;
    color: #fff; }
  .error-page p {
    color: #fff; }
  .error-page a {
    border: 2px solid #6F694E;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase; }

/*
// Credits :
Menu Hamburger > http://codepen.io/janomiloca/pen/EgVKvA
Search Icon Transition > http://codepen.io/mattbraun/pen/eNwmJG
Flex Showcase > http://codepen.io/Podgro/pen/NGppgo
Hover Design > http://codepen.io/thelittleblacksmith/pen/QGgzYm
Follow Mouse JS > Fabio Ottaviani
  // Photos :
https://livejapan.com
http://www.phoclab.com
gif > http://imgur.com
http://www.rgbstock.com
http://hungrysamuraihp.com
gif > https://www.reddit.com (giant.gfycat.com)
*/

/*# sourceMappingURL=style.css.map */
