//Variables

$dark: #3c373e;
$light: #fdfdfe;

$white: #fff;
$black: #000;
$primary: #6F694E;
$secondary: #036564;

$shortTransitionTime: 500ms;
$transitionTime: 800ms;

$twitter: #00aced;
$facebook: #3b5998;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$instagram: #bc2a8d;