//
   Created by Nicole J. Nobles on 12/3/2016.

extends layout

block content
    .error-page
    .content
        h1 404
        h2 Page not registering
        p Forget 404... It's over 9000!
        a(href='#') Go Back